/***************************
* FRAMEWORK 12 COLONNE
***************************/

 /* GENERAL SETTINGS */

 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

/* CONTAINER */
[class*="container"] {
  margin: 0 auto;
  max-width: 100%
}

.container {
 width: 1200px;
}

.container-small {
  width: 1000px;
}

.container::after,
.container-small::after {
  content: '';
  display: table;
  clear: both;
}

/* SMARTPHONE COLUMN */

[class*="col-"] {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
[class*="col-"] > .container {
  float: left;
  padding-left: -5px;
  padding-right: -5px;
}

.col-xs-1 {
  width: calc(100% / 12);
}

.col-xs-2 {
  width: calc((100% / 12) * 2);
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: calc((100% / 12) * 4);
}

.col-xs-5 {
  width: calc((100% / 12) * 5);
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: calc((100% / 12) * 7);
}

.col-xs-8 {
  width: calc((100% / 12) * 8);
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: calc((100% / 12) * 10);
}

.col-xs-11 {
  width: calc((100% / 12) * 11);
}

.col-xs-12 {
  width: 100%;
}

/* SMARTPHONE OFFSET */

.offset-col-xs-1 {
  margin-left: calc(100% / 12);
}

.offset-col-xs-2 {
  margin-left: calc((100% / 12) * 2);
}

.offset-col-xs-3 {
  margin-left: 25%;
}

.offset-col-xs-4 {
  margin-left: calc((100% / 12) * 4);
}

.offset-col-xs-5 {
  margin-left: calc((100% / 12) * 5);
}

.offset-col-xs-6 {
  margin-left: 50%;
}

.offset-col-xs-7 {
  margin-left: calc((100% / 12) * 7);
}

.offset-col-xs-8 {
  margin-left: calc((100% / 12) * 8);
}

.offset-col-xs-9 {
  margin-left: 75%;
}

.offset-col-xs-10 {
  margin-left: calc((100% / 12) * 10);
}

.offset-col-xs-11 {
  margin-left: calc((100% / 12) * 11);
}

.offset-col-xs-12 {
  margin-left: 100%;
}

/* TABLET VERSION */
@media screen and (min-width: 768px) {

  /* TABLET COLUMN */

  .col-md-1 {
    width: calc(100% / 12);
  }

  .col-md-2 {
    width: calc((100% / 12) * 2);
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: calc((100% / 12) * 4);
  }

  .col-md-5 {
    width: calc((100% / 12) * 5);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc((100% / 12) * 7);
  }

  .col-md-8 {
    width: calc((100% / 12) * 8);
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: calc((100% / 12) * 10);
  }

  .col-md-11 {
    width: calc((100% / 12) * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  /* TABLET OFFSET */

  .offset-col-md-reset {
    margin-left: 0;
  }

  .offset-col-md-1 {
    margin-left: calc(100% / 12);
  }

  .offset-col-md-2 {
    margin-left: calc((100% / 12) * 2);
  }

  .offset-col-md-3 {
    margin-left: 25%;
  }

  .offset-col-md-4 {
    margin-left: calc((100% / 12) * 4);
  }

  .offset-col-md-5 {
    margin-left: calc((100% / 12) * 5);
  }

  .offset-col-md-6 {
    margin-left: 50%;
  }

  .offset-col-md-7 {
    margin-left: calc((100% / 12) * 7);
  }

  .offset-col-md-8 {
    margin-left: calc((100% / 12) * 8);
  }

  .offset-col-md-9 {
    margin-left: 75%;
  }

  .offset-col-md-10 {
    margin-left: calc((100% / 12) * 10);
  }

  .offset-col-md-11 {
    margin-left: calc((100% / 12) * 11);
  }

  .offset-col-md-12 {
    margin-left: 100%;
  }

}

/* DESKTOP VERSION */
@media screen and (min-width: 992px) {

  /* DESKTOP COLUMN */

  .col-lg-1 {
    width: calc(100% / 12);
  }

  .col-lg-2 {
    width: calc((100% / 12) * 2);
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: calc((100% / 12) * 4);
  }

  .col-lg-5 {
    width: calc((100% / 12) * 5);
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: calc((100% / 12) * 7);
  }

  .col-lg-8 {
    width: calc((100% / 12) * 8);
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: calc((100% / 12) * 10);
  }

  .col-lg-11 {
    width: calc((100% / 12) * 11);
  }

  .col-lg-12 {
    width: 100%;
  }

  /* DESKTOP OFFSET */

  .offset-col-lg-reset {
    margin-left: 0;
  }

  .offset-col-lg-1 {
    margin-left: calc(100% / 12);
  }

  .offset-col-lg-2 {
    margin-left: calc((100% / 12) * 2);
  }

  .offset-col-lg-3 {
    margin-left: 25%;
  }

  .offset-col-lg-4 {
    margin-left: calc((100% / 12) * 4);
  }

  .offset-col-lg-5 {
    margin-left: calc((100% / 12) * 5);
  }

  .offset-col-lg-6 {
    margin-left: 50%;
  }

  .offset-col-lg-7 {
    margin-left: calc((100% / 12) * 7);
  }

  .offset-col-lg-8 {
    margin-left: calc((100% / 12) * 8);
  }

  .offset-col-lg-9 {
    margin-left: 75%;
  }

  .offset-col-lg-10 {
    margin-left: calc((100% / 12) * 10);
  }

  .offset-col-lg-11 {
    margin-left: calc((100% / 12) * 11);
  }

  .offset-col-lg-12 {
    margin-left: 100%;
  }

}
