/* GENERAL SETTINGS */

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  padding-top: 80px;
}

/* UTILITIES */

.color-blue {
  color: #0368f9;
}

/* BUTTONS */

.btn.btn-bg {
  background: #0368f9;
  color: #fff;
}

/* TYPOGRAPHY */

h1,
h2,
h5,
strong {
  font-weight: 600;
}

h1 {
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

h6 {
  font-weight: 200;
  color: #fff;
}

/* HEADER */

.navbar {
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  line-height: 80px;
}

.navbar-logo {
  line-height: 80px;
}

.navbar-logo img {
  max-height: 50px
}

.navbar-menu li,
.navbar-info li {
  padding-left: 15px;
}

.navbar-menu li a,
.navbar-info li a {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.navbar-menu li a i,
.navbar-info li a i {
  position: relative;
  top: 1px;
}

.navbar-info .btn.btn-outline {
  border: solid #0368f9 1px;
  color: #0368f9;
  transition: background .5s,
              color .5s;
}

.navbar-info .btn.btn-outline:hover {
  background: #0368f9;
  color: #fff;
}

/* HAMBURGER MENU */

.hamburger-menu span {
  background: #0368f9;
}

.jumbotron {
  background: url('../img/header/bg-banner-home.jpg');
}

.jumbotron-txt {
  color: #fff;
}

.jumbotron-txt p {
  font-size: 22px;
}

/* JUMBOTRON FORM */
.jumbotron-form {
  padding: 40px 25px;
  border-radius: 20px;
  color: #000;
  background: #fff;
}

.jumbotron-form label {
  display: none;
}

.jumbotron-form form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid lightgray 1px;
  outline: none;
}

.jumbotron-form ::placeholder {
  font-size: 14px;
  font-weight: 600;
}

.jumbotron-form form input:focus {
  outline: none;
  border: solid gray 1px;
}

.jumbotron-form .btn {
  position: relative;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}

.jumbotron-form .btn img {
  position: absolute;
  left: 5px;
  bottom: 0;
  padding: 5px;
  float: left;
  height: 100%;
}

.jumbotron-form .btn.btn-bg {
  transition: opacity .5s;
}

.jumbotron-form .btn.btn-bg:hover {
  opacity: .6;
}

.jumbotron-form .btn-outline {
  background: #fff;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transition: background .5s;
}

.jumbotron-form .btn-outline:hover {
  background: rgba(100, 100, 100, 0.1);
}

.jumbotron-form p {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
}

/* MAIN */
/* CUSTOMERS */
.customer {
  background: #f3f5f9;
}

.customer-list {
  margin-bottom: 20px;
}

.customer-item {
  width: calc(100% / 2 - 24px);
  margin: 10px 10px;
  display: inline-block;
  vertical-align: middle;
}

.customer-content > p,
.customer-content > a {
  font-weight: 400
}

.customer-content > p {
  font-size: 16px;
  color: #5b6987;
}



/* MEDIA QUERY */
/* TABLET SCREEN */
@media screen and (min-width: 768px) {

  /* GENERAL SETTINGS */
  /* TYPOGRAPHY */

  h1 {
    font-size: 56px;
    line-height: 56px;
  }

  h2 {
    font-size: 34px;
  }

  /* HEADER */
  /* JUMBOTRON */
  .jumbotron-txt {
    margin-right: 10px;
  }

  .jumbotron-form {
    margin-left: 10px;
  }

  /* MAIN */
  /* CUSTOMERS */

  .customer-list {
    margin-bottom: 0;
  }

  .customer-item {
    width: calc(100% / 6 - 24px);
  }

}
