/* GENERAL SETTINGS */

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  padding-top: 80px;
}

/* TYPOGRAPHY */

h1,
h2,
h5,
strong {
  font-weight: 600;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 36px;
}

h6 {
  font-weight: 200;
  color: #fff;
}

/* HEADER */

.navbar {
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  line-height: 80px;
}

.navbar-logo {
  line-height: 80px;
}

.navbar-logo img {
  max-height: 50px
}

.navbar-menu li,
.navbar-info li {
  padding-left: 15px;
}

.navbar-menu li a,
.navbar-info li a {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.navbar-menu li a i,
.navbar-info li a i {
  position: relative;
  top: 1px;
}

.btn.btn-outline {
  border: solid #0368f9 1px;
  color: #0368f9;
  transition: background .5s,
              color .5s;
}

.btn.btn-outline:hover {
  background: #0368f9;
  color: #fff;
}

/* HAMBURGER MENU */

.hamburger-menu span {
  background: #0368f9;
}
