/* GENERAL UTILITIES */

.lh-0 {
  line-height: 0;
}

/* CLEARFIX */

.clearfix {
  content: '';
  display: table;
  clear: both;
}

/* LAYOUT */

/* POSITION */

.pos-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vertical-mdl {
  vertical-align: middle;
}

/* MENU */

.menu-highlights li {
  position: relative;
}

.menu-highlights a::after {
  content: '';
  position: absolute;
  display: block;
  height: 5px;
  width: 0;
  left: 0;
  bottom: 0;   /* INSERIRE DISTANZA LINE-HEIGHT */
  background: black;
  transition: width .5s;
}

.menu-highlights a:hover::after {
  position: absolute;
  width: 100%;
}

.list-inline li {
  display: inline-block;
}

.h-menu {
  display: inline-block;
}
.v-menu {
  list-style: none;
}

/* HAMBURGER MENU */

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-menu span {
  display: block;
  border-radius: 30px;
  height: 5px;
  width: 35px;
  margin-top: 8px;
  background: #000;
}

/* TYPOGRAPHY */
a {
  text-decoration: none;
}

p {
  font-size: 16px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}

/* TEXT SETTINGS */

.txt-left{
  text-align: left;
}

.txt-right{
  text-align: right;
}

.txt-center{
  text-align: center;
}

.txt-upper {
  text-transform: uppercase;
}

/* BUTTONS */

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
}

.btn-small {
  padding: 20px;
}

.btn-bg {
  border-radius: 10px;
  background: gray;
  color: #fff;

}

.btn-outline {
  border-radius: 10px;
  border:solid 1px gray;
  color: gray;
}

/* IMAGES */

.img-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* MEDIA QUERY */

.mobile-none {
  display: none;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}


/* TABLET SCREEN */
@media screen and (min-width: 768px) {

  .mobile-none {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}

/* DESKTOP SCREEN */
@media screen and (min-width: 992px) {

  .desktop-only {
    display: block;
  }

  .desktop-none {
    display: none;
  }

}
