/* GENERAL UTILITIES */

body {
  /* padding-top: 85px; SE LA NAVBAR É IN POSITION FIXED  */
}

/* HEADER */

.navbar {
  width: 100%;
  line-height: 80px;
  background: gray;
}

.navbar[class*='fx'] {
  position: fixed;
  z-index: 10;
}

.navbar.fx-top {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}

.navbar.fx-bottom {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

.navbar::after {
  content: '';
  display: table;
  clear: both;
}

.navbar-logo,
.navbar-menu,
.navbar-log,
.navbar-lang,
.navbar-mobile {
  float: left;
}

.navbar-logo.right,
.navbar-menu.right,
.navbar-log.right,
.navbar-lang.right,
.navbar-mobile.right {
  float: right;
}

.navbar-logo li,
.navbar-menu li,
.navbar-log li,
.navbar-lang li {
  display: inline-block;
  padding-left: 15px;
}

.navbar-logo a,
.navbar-menu a,
.navbar-log a,
.navbar-lang a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

/* MENU */

.menu-highlights li {
  position: relative;
}

.menu-highlights a::after {
  content: '';
  position: absolute;
  display: block;
  height: 5px;
  width: 0;
  left: 0;
  bottom: 0;   /* PARTE DAL FONDO SE SI USA UNA LINE-HEIGHT */
  background: black;
  transition: width .5s;
}

.menu-highlights a:hover::after {
  position: absolute;
  width: 100%;
}

/* HAMBURGER MENU */

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-menu span {
  display: block;
  border-radius: 30px;
  height: 5px;
  width: 35px;
  margin-top: 8px;
  background: #000;
}

.hamburger-menu span:first-child {
  margin-top: 0;
}











/* DA ORDINARE */


/* LAYOUT */

.pad-y70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-75 {
  margin-top: 75px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}


/* POSITION */

.pos-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vertical-mdl {
  vertical-align: middle;
}

.list-inline li {
  display: inline-block;
}

.v-list li {
  list-style: none;
}



/* TYPOGRAPHY */

p {
  font-size: 16px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}

/* TEXT SETTINGS */

.lh-0 {
  line-height: 0;
}

.txt-left{
  text-align: left;
}

.txt-right{
  text-align: right;
}

.txt-center{
  text-align: center;
}

.txt-justify{
  text-align: justify;
}

.txt-upper {
  text-transform: uppercase;
}

/* BUTTONS */

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn-xs {
  padding: 10px;
}

.btn-sm {
  padding: 20px;
}

.btn-bg {
  border-radius: 5px;
  background: gray;
  color: #fff;

}

.btn-outline {
  border-radius: 5px;
  border:solid 1px gray;
  color: gray;
}

/* IMAGES */

.img-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
